<form  name="payfort_final_payment_form" id="payfort_final_payment_form" method="post"
      action="https://sbcheckout.payfort.com/FortAPI/paymentPage/">
    <input type="hidden" name="service_command" value="TOKENIZATION">
    <input type="hidden" name="merchant_identifier" value="2b371e07">
    <input type="hidden" name="access_code" value="hNuBzdiJ6hLi6Yls0VGj">
    <input type="hidden" name="merchant_reference" value="nnnwAsCpxI">
    <input type="hidden" name="language" value="en">
    <input type="hidden" name="return_url" value="http://localhost:8000/payfortOperation">
    <input type="hidden" name="signature" value="5799be3432e4241c2ad120596441ccddb6d8b40874ebb855934b9d191f487e82">
    <input type="hidden" name="remember_me" value="YES">
    <input type="hidden" id="card_holder_name" name="card_holder_name" value="mohamed">
    <input type="hidden" id="card_number" name="card_number" value="4005550000000001">
    <input type="hidden" id="expiry_date"  name="expiry_date" value="2207">
    <input type="hidden" id="card_security_code" name="card_security_code" value="123">
    <input type="submit" id="submit">
</form>