/node_modules
/public/hot
/public/trace.log
/DB
/sheets
/public/storage
/storage/framework
/storage/logs
/storage/app
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/js
