//font
$font_0: PT Sans;
$font_1: sans-serif;
$font-2: Raleway;
$font-3:Montserrat ;
$font-4:Roboto ;
$font-5:Rubik ;
$font-themify: themify;
$font-awesome: FontAwesome;

//color
$theme-color1:#ff6000;
$theme-color2:#ffa800;
$body-back:#f2f2f2;
$bg-light : $body-back;
$body-text:#777;
$black: #000000;
$white:#ffffff;
$white1:#f1f5f8 ;
$dark:#444444;
$orange:#ffa800 ;
$collection-hover:rgba(255,96,0,0.2);
$light-gray:#aaaaaa;
$gray1:#f1f1f1;
$gray-2:#999999;
$gray-3:#8d8d8d;
$gray-4:#acacac;
$gray-5:#eeeeee;
$gray-6:#8a8a8a;
$gray-7:#939b9e;
$light-border:#dddddd;
$icon-color:#777777;
$hot-deal:#eef3f4;
$hot-deal-1:#f2f2f2;
$rating-star:#ffa800;
$follow-back:#f7f7f7;
$img-border:#f0f0f0;
$contact-back:#14286a;
$gift-back :#0170a5;
$blue:#d0edff;
$pink:#f1e7e6;
$gray:#bfbfbf;
$font-color:#333333;
$light-green:#4ead4e;
$light-green1:rgba($theme-color2, 0.45);
$bredcumb-main:#e8e8e8;
$category-back:#e7e7e9;
$landing-dark:#282828 ;
$landing-back:#fffbf9 ;
// slider //
$rich-gold:#eddbd1;
$solitud:#dfe9f3 ;
$gaynsboro:#e7e7e7 ;
$hawkesh-blue:#f0dec9 ;
$gray93:#ededed;



// dark layout //
$dark-layout:#1b1b1b;
$light-layout: #262626;
$dark-border : #3c3c3c;
$dark-link:#cbcbcb;
$font-layout-1:#f1f3f5;
$font-layout-2:#eaedef;
$font-layout-3:#e7eaec;
$font-layout-4:#dee2e6;
$font-layout-5:#cfd4da;
